Pipfile
Pipfile.lock
cartpole.py
hand.py
handt.jpg
hogr/
Simulation/logs/*
!Simulation/logs/Training
Simulation/dataset
Simulation/dataset.7z
Simulation/checkpoints/*
!Simulation/checkpoints/actor_model-20959.h5
!Simulation/checkpoints/critic_model-20959.h5
Thank_You.gif.bak
